.createPlayer{
    width: 100%;
    height: calc(100vh - 5rem);    
    z-index: 700;
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;  
    background-color: #111;  
}
.createPlayer button{
    border: none;
    outline: none;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: transparent;
    color: #f8b700;
    font-family: 'Reggae One', cursive;
    font-weight: bold;
    font-size: 1rem;
    border-bottom: 2px solid;
    cursor: pointer;
}

.chooseFaction {  
    border-radius: 0.7rem;
    padding: 0.3rem;
    width: 70%;
    min-width: 15rem;
    margin-top: 5rem;    
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: 'Reggae One', cursive;
    color:#f8b700;  
    text-align: center;  
}
.factions{
    margin-top: 1rem;    
    display: flex;   
}

.factions img{
    cursor: pointer;
    height: auto;
    width: 10rem;   
    transition: all 0.2s; 
}

.wowClases{
    border-radius: 0.7rem;
    padding: 0.3rem;
    width: 70%;
    min-width: 15rem;
    margin-top:3rem;    
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.wowClases img{
    margin-left: 1rem;
    margin-top: 0.5rem;
    width: 12%;
    cursor: pointer;
    transition: all 0.2s;
}



@media (max-width: 501px){
    .factions img{
        width: 5rem;
    }
}